# Configurations
PORT=8000
LOGGING_LEVEL=0

RESOURCES_DIR=/app/resources
MIGRATIONS_DIR=file:///app/db/migrations

# Database
DB_HOST=<database_host_name>
DB_PORT=<database_port>
DB_DATABASE=<database_name>
DB_USERNAME=<database_username>
DB_PASSWORD=<database_password>
DB_SKIP_VERIFY=<database_verification>

# mail properties
MAIL_HOST=<mail_host>
MAIL_PORT=<mail_port>
MAIL_USER=<mail_username>
MAIL_PASS=<mail_password>

# Secrets
JWT_SECRET=<jwt_secret>
SECRET_SALT=<secret_salt>

# S3 properties
STORE_S3_URL=<S3_URL>
STORE_S3_API_URL=<S3_API_URL>

# Check ./internal/config/config.go for more details